/* Body Style */
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0F0F0;
  color: #06142F;
}

* {
  margin: 0;
  padding: 0;
}

/* Text Center */
.textCenter{
  text-align: center;
}

/* Teacher Styling */
.teacher{
  background-color: #00CC00;
}

/* Student Styling */
.student{
  background-color: #0075FF;
}
