/* General Header Style */
.header {
    background-color: white;
    height: 100px;
    filter: drop-shadow(0 .125rem .25rem rgba(0,0,0,.075));
}

.headerContainer{
    position: relative;
    top: 0%;
    display: grid;
    grid-template-columns: 290px auto;
}

.headerItem{
    list-style-type: none;
    height: 100px;
}

/* Logo */
.headerButton{
    position: relative;
    border: none;
    padding-top: 22px;
    padding-left: 290px;
    height: 100%;
    font-weight: bolder;
    text-decoration: none;
    font-size: 38px;
    color: black;
    top: 22px;
    padding-bottom: 37.5px;
    margin: none;
    line-height: 39.5px;
}

.headerButton:hover{
    background-color: #F5F5F5;
}

.headerImage{
    position: absolute;
    left: 22px;
    top: 22px;
}

#headerLogoName{
    position: relative;
    left: 100px;
    top: -34px;
}

/* Profile Container */
.headerProfileContainer{
    display: grid;
    grid-template-columns: auto 112.5px;
}

/* Profile Name */
#headerProfileName{
    font-size: 1.777em;
    text-align: right;
    position: relative;
    top: 34px;
}

/* Profile Picture */
#headerProfilePicture{
    border-radius: 50%;
    position: relative;
    top: 12.5px;
    left: 12.5px;
    height: 75px;
    width: 75px;
}