/*General Loginform Style*/
.loginForm{
    margin-top: 18%;
    margin-bottom: 18%;
}

.loginFieldset{
    max-width:500px;
    margin: auto;
    background-color: white;
}

.loginInputContainer {
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-bottom: 15px;
    padding-left: 5%;
}

/* Header */
.loginHeader{
    position: relative;
    margin: 15px;
    left: 2%;
    display: grid;
    grid-template-columns: 48px auto;
}

.loginName{
    position: relative;
    top: 10px;
}

/* Icons */
.loginIcon {
    padding: 10px;
    height: 24px;
    width: 24px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

/* Input Field */  
.loginInput{
    width: 100%;
    padding: 10px;
    outline: none;
}
  
.loginInput:focus{
    border: 2px solid dodgerblue;
}

/* Button */
.loginButton{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
}
  
.loginButton:hover{
    opacity: 0.9;
}

.loginButton:disabled{
    opacity: 0.5;
    pointer-events: none;
}
