/* How the modal text looks like */
.skemabrikModalText{
    position: relative;
    font-weight: 900;
    font-size: 2.369em;
    color: #FFFFFF;
    border: none;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* Centering modal */
.detailsModal{
    background-color: lightslategray;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 33%;
    height: 33%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    filter: drop-shadow(7.5px 7.5px 15px rgba(0,0,0,0.5));
}

/* Close button */
.close{
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 1.5em;
    text-align: right;
    margin-right: 0.25em;
    z-index: 1;
}

/* Skema details text */
.detailsText{
    font-weight: bold;
    width: 98%;
    height: 45%;
    overflow-y: auto;
}

/* Scrollbar styling */
::-webkit-scrollbar{
    width: 12px;
}
 
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Text left */
.textLeft{
    float: left;
}
/* Text Right */
.textRight{
    float: right;
}

.didSubmitModal{
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #B4B4B4;
    color: #00E7A2;
    padding: 0.1em;
    font-size: 1.5em;
}

/* Blur schedule when modal is clicked */
.blur-filter{
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.modalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}