/* General Sidebar Style */
.sidebar{
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #c4c4c4;
    position: fixed;
    height: 100%;
}

/* Buttons */
.sideButton{
    width: 100%;
    height: 100px;
    display: block;
    margin: 0;
    border: none;
    background-color: #06142f;
    color: white;
    text-align:center;
    opacity: 1;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.sideButton:hover{
    opacity: 0.9;
}

/* Icons of Buttons */
.sideIcon{
    padding: 10px;
    height: 48px;
    width: 48px;
    color: white;
    min-width: 50px;
    text-align: center;
}
