/* General Skemabrik Style */
.skemabrik{
    width: 95%;
    text-align: left;
    border: none;
    z-index: 1;
}
/* Hovering on skemabrik */
.skemabrik:hover{
    cursor: pointer;
    filter:brightness(80%);
}

/* Text */
.skemabrikTitleText{
    position: relative;
    font-weight: bold;
    font-size: 2em;
    color: #FFFFFF;
    border: none;
    margin: none;
}

.skemabrikDescriptionText{
    position: relative;
    font-weight: bold;
    font-size: 1em;
    color: #FFFFFF;
    border: none;
    margin: none;
}

/* Icon */
.skemabrikIcon{
    width: 40px;
}

/* Colours of Subjects */
.Dansk{
    background-color: #FF4D4D;
}
  
.Matematik{
    background-color: #3385FF;
}
  
.Engelsk{
    background-color: #DD99FF;
}
  
.Religion{
    background-color: #FF00B8;
}
  
.Historie{
    background-color: #FFFF66;
}
  
.Billedkunst{
    background-color: #FF944D;
}
  
.Idræt{
    background-color: #00B3B3;
}
  
.N\/T{
    background-color: #47D147;
}
  
.Pause{
    background-color: #696969;
}
