/*  General Schedule Styling */
.skemaContainer{
    position: relative;
    background-color:#E5E5E5;
    top: 15%;
    left: 15%;
    width: 80%;
    height: 80%;
}

/* Header Text */
.dayText {
    text-align: center;
}