/*  General Schedule Styling */
.skemaContainer{
    position: relative;
    background-color:#E5E5E5;
    top: 15%;
    left: 15%;
    width: 80%;
    height: 80%;
}

/* Header Text */
.dayText {
    text-align: center;

}

/* grid style */
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
    border-left: none;
    
}

.grid-container {
    position: relative;
    left: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 120px auto;
    padding: 10px;
    padding-bottom: 40px;
}