/* TODO: Maybe change absolute position? 
This just makes the form be in the middle for now */
.skemabrikForm{
    position: absolute;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: auto auto;
    z-index: 1;
}


.legend{
    font-size: 2em;
    font-weight: 900;
}

.inputText{
    font-size: 1em;
    font-weight: 900;
    padding-right: 1em;
}

.twoColumnWide{
    grid-column: auto/span 2;
}

textarea{
    height: 5em;
}

.advancedGrid{
    display: grid;
    grid-template-columns: auto auto 10%;
}

.advancedText{
    padding: 0em;
    font-size: 0.65em;
    font-weight: 800;
    text-align: right;
}

.submitButton{
    cursor: pointer;
}

.submitButton:disabled{
    opacity: 0.5;
    pointer-events: none;
}

.deleteButton{
    margin-top: 1em;
    font-weight: 800;
    color:#E7183E;
    cursor: pointer;
}
.deleteButton:disabled{
    opacity: 0.5;
    pointer-events: none;
}