/* How the modal text looks like */
.skemabrikModalText{
    position: relative;
    font-weight: bold;
    font-size: 1.333em;
    color: #FFFFFF;
    border: none;
    margin: 10px;
}

/* Centering modal */
.detailsModal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 33%;
    height: 33%;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 10px;
}

/* Close button */
.close{
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 1.5em;
    text-align: right;
    margin-right: 0.25em;
    z-index: 1;
}

/* Text left */
.textLeft{
    float: left;
}
/* Text Right */
.textRight{
    float: right;
}