/* General Skemabrik Style */
.skemabrik{
    position: relative;
    width: 98.5%;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
}

/* Hovering on skemabrik */
.skemabrik:hover{
    cursor: pointer;
    filter:brightness(80%);
}

/* Text */
.skemabrikTitleText{
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 900;
    font-size: 2.369em;
    color: #FFFFFF;
    border: none;
    margin: none;
    -webkit-text-stroke: 1px black;
}

/* Icon */
.skemabrikIcon{
    position: relative;
    width: 40px;
}

/* Colours of Subjects */
.Dansk{
    background-color: #FF4D4D;
}
  
.Matematik{
    background-color: #3385FF;
}
  
.Engelsk{
    background-color: #DD99FF;
}
  
.Religion{
    background-color: #FF00B8;
}
  
.Historie{
    background-color: #FFFF66;
}
  
.Billedkunst{
    background-color: #FF944D;
}
  
.Idræt{
    background-color: #00B3B3;
}
  
.N\/T{
    background-color: #47D147;
}
  
.Pause{
    background-color: #696969;
}
