/*  General Schedule Styling */
.scheduleContainer{
    position: relative;
    background-color: white;
    left: 10%;
    width: 85%;
    height: 80%;
    margin-top: 2%;
    margin-bottom: 1.5%;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.5));
}

/* grid style */
.gridContainerOneDay {
    position: relative;
    display: grid;
    grid-template-columns: 7.5% auto;
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    border-left: none;
}

.gridLessonItem {
    border-right: none;
}

/*Five day css*/
.gridContainerFiveDay {
    position: relative;
    display: grid;
    grid-template-columns: 7.5% 18.5% 18.5% 18.5% 18.5% 18.5%;
    height: 650px;
}

.gridItemContainer {
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 100%;
    border-left: none;
    border-bottom: none;
}

.gridItemHour {
    position: relative;
    width: 100%;
    padding-right: 5px;
    font-size: 30px;
    text-align: center;
    height: 39.625px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.gridItemHalfHour {
    position: relative;
    width: 100%;
    padding-right: 5px;
    font-size: 30px;
    text-align: center;
    height: 39.625px;
    border: 1px dotted rgba(0, 0, 0, 0.8);
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.lastScheduleBlock {
    border-bottom-right-radius: 10px;
}

.timeOne {
    border-top: none;
    height: 40.625px;
}

.currentDayHighlight{
    background: #0077ff1f;
}

/*Top of schedule things */
.weekContainerFiveDay {
    display: grid;
    grid-template-columns: 7.5% 18.5% 18.5% 18.5% 18.5% 18.5%;
}

.weekContainerOneDay {
    display: grid;
    grid-template-columns: 7.5% 92.5%;
}

.weekText {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: none;
    border-right: none;
}

.oneDayText {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: none;
    border-right: none;
}

.oneDayTextPosition {
    position: relative;
    left: -3.75%;
}

.weekContainerBorderFix {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: none;
    border-left: none;
}

.scheduleContainerHeader {
    display: grid;
    grid-template-columns: 90% 10%;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.scheduleContainerHeaderTeacher{
    background: #00cc00;
    opacity: 80%;
}

.scheduleContainerHeaderPupil{
    background: #0075ff;
    opacity: 80%;
}

.scheduleContainerHeaderText {
    font-size: 3.157em;
    color: white;
    position: relative;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
}

/*Schedule layout css */
.scheduleBordersHour {
    position: relative;
    height: 39.625px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.scheduleBordersHalfHour {
    position: relative;
    height: 39.625px;
    border: 1px dotted rgba(0, 0, 0, 0.8);
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.scheduleBorderFirst {
    border-top: none;
    height: 40.625px;
}

.Mandag{
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 100%;
    border-bottom: none;
    border-right: none;
}

.Tirsdag{
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 100%;
    border-bottom: none;
    border-right: none;
}

.Onsdag{
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 100%;
    border-bottom: none;
    border-right: none;
}

.Torsdag{
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 100%;
    border-bottom: none;
    border-right: none;
}

.Fredag{
    position: relative;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 100%;
    border-bottom: none;
    border-right: none;
}