.NavContainer{
  grid-template-columns: auto auto;
}

.Navbar {
  overflow: hidden;
  list-style-type: none;
  background-color: #333;

}

.navItem{
  float: left;
  justify-content: center;
  align-items: center;

}

.navButton{
  background-color: #333;
  border: none;
  font-size: calc(10px + 1vmin);
  color: white;
}
.navButton:hover{
  background-color: grey;
}