body{
  font-family: 'Work Sans';
}

.headerContainer{
  grid-template-columns: auto auto;
}

.header {
  overflow: hidden;
  list-style-type: none;
  background-color: #c4c4c4;
  margin: 0;
  padding: 0;
  height: 50px;
}

.headerItem{
  float: left;
  justify-content: center;
  align-items: center;
}

.headerButton{
  background-color: #c4c4c4;
  border: none;
  font-size: calc(10px + 1vmin);
  color: black;
  height: 50px;
  width: 100px;
}
.navButton:hover{
  background-color: grey;
}

#navLogo{
  font-weight: bolder;
}

.loginFieldset{
  max-width:500px;
  margin:auto;
}

.loginInputContainer {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.loginIcon {
  padding: 10px;
  height: 24px;
  width: 24px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.loginInput{
  width: 100%;
  padding: 10px;
  outline: none;
}

.loginInput:focus{
  border: 2px solid dodgerblue;
}
.loginButton{
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginButton:hover{
  opacity: 1;
}

#loginHeader{
  text-align: center;
}

.sidebar{
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #c4c4c4;
  position: fixed;
  height: 100%;
}

.sideButton{
  width: 100%;
  display: block;
  padding: 10px;
  margin: 0;
  border: none;
  background-color: #06142f;
  color: white;
  text-align:center;
  opacity: 0.9;
}

.sideButton:hover{
  opacity: 1;
}

.sideIcon{
  padding: 10px;
  height: 48px;
  width: 48px;
  color: white;
  min-width: 50px;
  text-align: center;
}
