body{
  font-family: 'Work Sans';
  background-color: #F0F0F0;
  color: #06142F;
}

.headerItem{
  list-style-type: none;
}

.header {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100px;
}

.headerContainer{
  display: grid;
  grid-template-columns: auto auto 100px;
}

#headerLegalName{
  text-align: right;
  font-size: 1.777em;
  vertical-align: middle;
}

#headerLegalName p{
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.headerImage{
  position: absolute;
  left: 22px;
  top: 22px;
}

.headerButton{
  background-color: white;
  border: none;
  padding: 22px;
  font-size: calc(10px + 1vmin);
  height: 100px;
  width: 290px;
  text-align: right;
  outline: inherit;
}

.headerButton:hover{
  background-color: #F5F5F5;
}

#headerLogo{
  font-weight: bolder;
  font-size: 38px;
}

.loginFieldset{
  max-width:500px;
  margin:auto;
  background-color: white;
}

.loginInputContainer {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.loginIcon {
  padding: 10px;
  height: 24px;
  width: 24px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.loginInput{
  width: 100%;
  padding: 10px;
  outline: none;
}

.loginInput:focus{
  border: 2px solid dodgerblue;
}
.loginButton{
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.loginButton:hover{
  opacity: 1;
}
.loginButton:disabled{
  opacity: 0.5;
  pointer-events: none;
}

#loginHeader{
  text-align: center;
}

.sidebar{
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #c4c4c4;
  position: fixed;
  height: 100%;
}

.sideButton{
  width: 100%;
  display: block;
  margin: 0;
  border: none;
  background-color: #06142f;
  color: white;
  text-align:center;
  opacity: 0.9;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sideButton:hover{
  opacity: 1;
}

.sideIcon{
  padding: 10px;
  height: 48px;
  width: 48px;
  color: white;
  min-width: 50px;
  text-align: center;
}
